<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contacto.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>

    <title>Contactos</title>
</head>

<body>
    <header>
        <form>
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </form>

        <img src="/images/logo.png" alt="logo">

        <input type="button" value="Crear Cuenta">
        <input type="button" value="Inicar sesión">

        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Producto">Productos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <span> <a href="/">home</a></span>
        <span>/</span>
        <span>Contacto</span>

        <section>
            <!-- contactanos -->
            <input type="text" placeholder="nombre">
            <input type="text" placeholder="email">
            <input type="text" placeholder="telefono (opcional)">
            <input type="text" placeholder="mensaje (opcional)">
            <input type="button" value="Enviar">
        </section>
        <hr>
        <i class="fa fa-whatsapp"></i>
            <h5>24HS CHAT GAMER PROFESIONAL</h5>
            <p>Sacate todas tus dudas a TODAS horas</p>
        
        <hr>

        <i class="fas fa-house-user"></i>
            <h5>AHORA 18 DESDE TU HOGAR</h5>
            <p>Abonas con tarjeta al recibir los productos.</p>
        

        <hr>

        <i class="fas fa-truck"></i>
            
            <h5> RECIBI TU COMPRA EN EL DIA</h5>
            <p>Envios express dentro de Rosario</p>
       
        <footer>
            <nav>
                <h3>NAVEGACIÓN</h3>

                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>

                <h3>MEDIOS DE PAGO</h3>

                <img src="images/tarjetas.jpg" alt="medios-de-pago" width="50%">

                <h3>CONTACTANOS</h3>

                <ul>
                    <li><a href="#"><i class="far fa-phone"></i> 0341-4310455</a></li>
                    <li><a href="#"><i class="fas fa-at"></i> ventas@hardrosario.com</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Omar Carrasco 2777 (Ovidio Lagos 2700)</a>
                    </li>
                </ul>

                <h3>REDES SOCIALES</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                </ul>

                <h3>NO TE PIERDAS LAS OFERTAS #GAMERSALE!</h3>

                <form>
                    <input type="email" placeholder="email">
                    <button><i class="far fa-paper-plane"></i></button>
                </form>
            </nav>

            <span>Creado por "Team 4"</span>

            <span>COPYRIGHT "Team 4" - 2021. TODOS LOS DERECHOS RESERVADOS.</span>
        </footer>
    </main>

</body>

</html>