<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productos.css">
    <script src="https://kit.fontawesome.com/b29d4baab6.js" crossorigin="anonymous"></script>
    <title>Productos</title>
</head>
<body>
    <header>
        <form>
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </form>

        <img src="/images/logo.png" alt="logo">

        <input type="button" value="Crear Cuenta">
        <input type="button" value="Inicar sesión">

        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/Producto">Productos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/banner.jpg" alt="banner">
        
        <aside>
            <h2>cat</h2>

            <a href="#">aaa</a>
            <a href="#">aaa</a>
            <a href="#">aaa</a>
            <a href="#">aaa</a>
        </aside>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
        <article>
            <a href="#">
                <img src="/images/producto.jpg" alt="image-producto">

                <h3>titulo</h3>

                <p>$ 9999</p>
            </a>
        </article>
    </main>
    <footer>
        <nav>
            <h3>NAVEGACIÓN</h3>

            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <h3>MEDIOS DE PAGO</h3>

            <img src="images/tarjetas.jpg" alt="medios-de-pago">

            <h3>CONTACTANOS</h3>
            
            <ul>
                <li><a href="#"><i class="far fa-phone"></i>  0341-4310455</a></li>
                <li><a href="#"><i class="fas fa-at"></i>  ventas@hardrosario.com</a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i>  Omar Carrasco 2777 (Ovidio Lagos 2700)</a></li>
            </ul>

            <h3>REDES SOCIALES</h3>
            <ul>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>

            <h3>NO TE PIERDAS LAS OFERTAS #GAMERSALE!</h3>

            <form>
                <input type="email" placeholder="email">
                <button><i class="far fa-paper-plane"></i></button>
            </form>
        </nav>

        <span>Creado por "Team 4"</span>
        
        <span>COPYRIGHT "Team 4" - 2021. TODOS LOS DERECHOS RESERVADOS.</span>
    </footer>
</body>
</html>